<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dragon-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dragon-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Dragon-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Dragon-API</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DragonFighterEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=z6q9u2zyv1.database.windows.net;Initial Catalog=DragonFighter;Persist Security Info=True;User ID=mark;Password=&quot;au/6fu0 gj4jo4dk ru4&quot;;Application Name=EntityFramework" Name="Data Source=z6q9u2zyv1.database.windows.net;Initial Catalog=DragonFighter;Persist Security Info=True;User ID=mark;Password=&quot;au/6fu0 gj4jo4dk ru4&quot;;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dragon_Library.Models.Entity.DragonFighterEntities, Dragon_Library" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DragonFighterEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entity.DragonModel.csdl|res://*/Models.Entity.DragonModel.ssdl|res://*/Models.Entity.DragonModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=z6q9u2zyv1.database.windows.net;Initial Catalog=DragonFighter;Persist Security Info=True;User ID=mark;Password="au/6fu0 gj4jo4dk ru4";MultipleActiveResultSets=True;Application Name=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>