<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MNEnglishEntities1" connectionString="metadata=res://*/Models.Entity.Model.csdl|res://*/Models.Entity.Model.ssdl|res://*/Models.Entity.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=mosaandnasa.com.cn\\SQLEXPRESS,57888;initial catalog=TEAMMS_DB;persist security info=True;user id=mn_user;password=&quot;au/6fu0 gj4jo4dk ru4&quot;;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="TEAMMS_DBEntities" connectionString="metadata=res://*/Models.Entity.TeammsModel.csdl|res://*/Models.Entity.TeammsModel.ssdl|res://*/Models.Entity.TeammsModel.msl;provider=System.Data.SqlClient;provider connection string='data source=mosaandnasa.com.cn\\SQLEXPRESS,57888;initial catalog=TEAMMS_DB;persist security info=True;user id=mn_user;password=&quot;au/6fu0 gj4jo4dk ru4&quot;;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="DragonFighterEntities" connectionString="metadata=res://*/Models.Entity.DragonModel.csdl|res://*/Models.Entity.DragonModel.ssdl|res://*/Models.Entity.DragonModel.msl;provider=System.Data.SqlClient;provider connection string='data source=z6q9u2zyv1.database.windows.net;initial catalog=DragonFighter;persist security info=True;user id=mark;password=&quot;au/6fu0 gj4jo4dk ru4&quot;;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>